<%# Single Flash Message Partial for Turbo Streams %>
<div class="flex items-center p-4 mb-4 text-sm text-blackish dark:text-whiteish rounded-r-lg shadow-sm bg-whiteish dark:bg-shadow border-l-4 border-primary" role="alert">
  <div>
    <span class="font-medium"><%= sanitize(message) %></span>
  </div>
</div>
