<%# "Gap" between the "First" and "Last" and the "Current" page
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li>
  <span class="flex items-center justify-center px-3 h-8 leading-tight text-graphite bg-whiteish border border-shadow dark:bg-shadow dark:border-graphite dark:text-muted">
    ...
  </span>
</li>
