<%= turbo_stream.replace "routine_#{resource.routine_id}" do %>
  <%= render partial: "admin/routines/routine_card", object: resource.routine, as: :routine, locals: { phase_id: resource.phase_id } %>
<% end %>

<%= turbo_stream.remove "modal_frame" %>

<%= turbo_stream.prepend "flash_messages" do %>
  <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-shadow dark:text-green-400 border border-green-300 dark:border-green-800" role="alert">
    <span class="font-medium">Success!</span> Phase assignment updated.
  </div>
<% end %>
