<div class="bg-black text-white min-h-screen py-24 px-4 sm:px-6 lg:px-8 font-switzer flex flex-col justify-center items-center">
  <div class="max-w-xl text-center">
    <span class="material-symbols-outlined text-saffron text-[80px]">check_circle</span>

    <h1 class="mt-6 text-4xl font-bold tracking-tight text-white mb-4">
      ¡Solicitud Recibida!
    </h1>

    <p class="text-xl text-gray-300 mb-10">
      Gracias por tomar el primer paso hacia tu transformación física. Nuestro equipo revisará tus respuestas y nos pondremos en contacto contigo pronto.
    </p>

    <%= link_to "Volver al Inicio", root_path, class: "inline-flex items-center justify-center px-8 py-4 border-2 border-saffron text-base font-black uppercase tracking-widest text-black bg-saffron hover:bg-yellow-500 transition-all hover:-translate-y-1 hover:-translate-x-1 hover:shadow-[8px_8px_0px_0px_#ffffff] active:translate-y-1 active:translate-x-1 active:shadow-none" %>
  </div>
</div>
